/* font-family: 'Gotham Narrow A', 'Gotham Narrow B', 'Helvetica Neue', 'Arial', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Adjust text insde the HTML */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Gotham Narrow A", "Gotham Narrow B", sans-serif;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
}

.container {
  display: flex;
  height: 100vh;
}
.logo {
  position: fixed;
  top: 5%;
  width: 25%;
  left: 42%;
}
.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.right {
  flex: 1;
  height: 100vh;
  transition: 1s;
  background-image: url(../img/beoplay-h95-newsletter.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header > h2 {
  margin: 0;
  font-weight: 200;
  color: #867772;
}

.header > p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.3rem;
  color: #737373;
}

.form {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.form > p {
  font-size: .6rem;
  color: #737373;
  padding-top: 5%;
}

.form-input {
  height: 2.5rem;
  padding: 0 .8rem;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: "Gotham Narrow A", "Gotham Narrow B", sans-serif;
  width: 100%;
  outline: 0;
  transition: 0.2s;
  margin-top: 1.5rem;
}

input::-webkit-input-placeholder {
  font-size: .9rem;
  color: #ebccc2;
}

#span_Email, #span_FirstName, #span_LastName{
  font-size: 0.6rem;
  color: #900;
}

button {
  color: #737373;
  font-size: 0.9em;
  background-color: transparent;
  border: 1px solid #737373;
  border-radius: 5%;
  width: 10rem;
  height: 2.5rem;
  transition: 0.8s;
  margin-top: 5%;
  font-family: "Gotham Narrow A", "Gotham Narrow B", sans-serif;
}

button:hover {
  background-color: #ebccc2;
  color: #fff;
}

.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

.first {
  animation-delay: 2s;
}

.secound {
  animation-delay: 2.1s;
}

.third {
  animation-delay: 2.2s;
}

.fourth {
  animation-delay: 2.3s;
}

.fifth {
  animation-delay: 2.4s;
}

.sixth {
  animation-delay: 2.5s;
}

.seventh {
  animation-delay: 2.8s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 1.2rem 2.4rem;
    width: 25rem;
  }
}
